<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <div *ngIf="!isLoading && offers?.length <= 0">
          <p>No offers found! Please create one first.</p>
          <ion-button routerLink="/places/tabs/offers/new">Create Offer!</ion-button>
        </div>
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner></ion-spinner>
        </div>
        <ion-list *ngIf="!isLoading && offers?.length > 0">
          <ion-item-sliding *ngFor="let offer of offers" #slidingItem>            
            <app-offer-item [offer]="offer"></app-offer-item>
            <ion-item-options side="end">
              <ion-item-option color="secondary" (click)="onEdit(offer.id, slidingItem)">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>