<div class="picker">
  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  <ion-img class="location-image" [src]="selectedLocationImage" *ngIf="selectedLocationImage && !isLoading && showPreview"
    role="button" (click)="onPickLocation()"></ion-img>
  <ion-button color="primary" (click)="onPickLocation()" *ngIf="(!selectedLocationImage && !isLoading) || !showPreview">
    <ion-icon name="map" slot="start"></ion-icon>
    <ion-label>Select Location</ion-label>
  </ion-button>
</div>