<ion-header>
  <ion-toolbar color="primary">
    <ion-title> {{!isLogin ? 'Signup' : 'Login'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="!emailCtrl.valid && emailCtrl.touched">
            <ion-label>Invalid email address</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" ngModel name="password" required minlength="6" #passwordCtrl="ngModel">
            </ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
            <ion-label>Invalid password</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="button" color="primary" fill="clear" expand="block" (click)="onSwitchAuthMode()">Switch to
            {{isLogin ? 'Signup' : 'Login'}}</ion-button>
          <ion-button type="submit" color="primary" (click)="onLogin()" expand="block" [disabled]="!f.valid">{{isLogin ?
            'Log In' : 'Sign Up'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>