<div class="picker">
  <!-- <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner> -->
  <ion-img class="image" [src]="selectedImage" *ngIf="selectedImage"
    role="button" (click)="onPickImage()"></ion-img>
  <ion-button color="primary" (click)="onPickImage()" *ngIf="!selectedImage && !showPreview">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Take Picture</ion-label>
  </ion-button>
</div>
<input type="file" *ngIf="usePicker"  (change)="onFileChosen($event)" #filePicker >