<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" text-center *ngIf="isLoading">
        <ion-spinner></ion-spinner>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && (!loadedBookings || loadedBookings.length <=0)">
        <p>There are no bookings right now!</p>
      </ion-col>
      <ion-col size-md="6" offset-md="3" *ngIf="!isLoading && loadedBookings?.length >0">
        <ion-list>
          <ion-item-sliding *ngFor="let booking of loadedBookings" #slidingItem>
            <ion-item>
              <ion-label>
                <h5>{{booking.placeTitle}}</h5>
                <p>Guests: {{booking.guestNumber}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options color="danger">
              <ion-item-option (click)="onCancelBooking(booking.id, slidingItem)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>