<ion-item [routerLink]="['/', 'places', 'tabs','offers', offer.id]">
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{offer.title}}</h2>
    <p>{{offer.price | currency}}</p>
    <div class="offer-details">
      <ion-icon name="calendar" color="secondary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{offer.availableFrom | date}}</ion-text>
      <span class="space-left"> to </span>
      <ion-icon name="calendar" class="space-left" color="secondary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{offer.availableTo | date}}</ion-text>
    </div>
  </ion-label>
</ion-item>